.frame {
  padding: 10px;
  background-color: #fff;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  justify-content: center;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
  p {
    margin: 0;
    font-size: 24px;
    font-weight: normal;
  }
}
