@import 'style/global-mixins';

.widgets {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

h3 {
  margin-bottom: 0;
}

.frame {
  border-radius: 30px;
  padding: 30px;
  text-align: center;
  background: rgba(13, 30, 41, 0.4);

  &__uv {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  &__sunInfo {
    p {
      display: flex;
      align-items: center;
      font-weight: 700;
      font-size: 20px;
      color: #f8f8f8;
    }

    img {
      margin-right: 10px;
      width: 40px;
      height: 40px;
    }
  }

  h3 {
    margin: 0;
    font-size: 24px;
    text-align: left;
    color: #fff;
  }

  &__humudity {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    padding: 5px;
    width: 30px;
    height: 80px;

    div {
      border-radius: 10px;
      width: 90%;
      height: 100%;
    }
  }
}

.gradient {
  position: relative;
}

.visibility {
  margin-top: 30px;
  font-size: 18px;
  text-align: left;
  color: #f8f8f8;
}

svg {
  transform: rotate(180deg);
}

.humudity {
  display: flex;
  justify-content: space-between;

  &__percent {
    p {
      font-size: 18px;
      text-align: left;
      color: #f8f8f8;
    }
  }
}

path {
  border: 1px solid #000;
  fill: none;
  stroke: url('#orange-to-pink');
  stroke-linecap: round;
  stroke-width: 8;
  pointer-events: none;
}

.firstIndex {
  position: absolute;
  left: -15px;
  bottom: 20px;
  font-weight: 700;
  font-size: 22px;
  color: #f8f8ff;
}

.secondIndex {
  position: absolute;
  left: 25%;
  top: -30%;
  font-weight: 700;
  font-size: 22px;
  color: #f8f8ff;
}

.thirdIndex {
  position: absolute;
  right: 25%;
  top: -30%; /* position the top  edge of the element at the middle of the parent */
  font-weight: 700;
  font-size: 22px;
  color: #f8f8ff;
}

.lastIndex {
  position: absolute;
  right: -30px;
  bottom: 20px;
  font-weight: 700;
  font-size: 22px;
  color: #f8f8ff;
}

.mainIndex {
  position: absolute;
  top: 50%; /* position the top  edge of the element at the middle of the parent */
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  font-size: 40px;
  color: #f8f8f8;
}

h2 {
  margin: 0;
}

.temperature {
  p {
    display: flex;
    align-items: center;
    font-size: 16px;

    span {
      font-size: 22px;
      color: #f8f8f8;
    }
  }

  img {
    margin-right: 10px;
    width: 40px;
    height: 40px;
  }
}

.windStatus {
  p {
    font-size: 20px;
    text-align: left;
    color: #f8f8f8;
  }
}

@include for-phone-only {
  .widgets {
    grid-template-columns: 1fr;
  }
}
